.background {
    background-image:url(../images/england/bigbenriver.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
  }


  .background h1 {
      font-family: "Montserrat";
      color: white;
      letter-spacing: 1em;
      text-indent: 1em;
      /* margin-top: 20px;
      margin-bottom: 140px; */
  }
  
  .background h2 {
    color: white;
  }

  .background h3 {
    color: white;
    padding: 0 10em;
  }
  
  .backdrop {
    padding: 5em;
    /* background-image: url(MountainsBackdrop.jpg); */
    background-image: url(../images/england/bigbenriver.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .Spacer {
    padding: 1em;
  }
  
  .navbar a{
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 2em;
  text-decoration: none;
  }
  
  .country:hover{
    color:#47C2B1;
  }
  
  header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  }
  
  .Headspace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    }
  
  .logo:hover {
  background-image:url(Jeanne\ Crew.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  }
  
  .navbar {
  display: flex;
  }

  .navbar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  #currentNav {
    color:#47C2B1;
  }
  
  .logo {
    background-image:url(LogoWordsBLK.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:  white;
    width: 120px;
    height: 120px;
    margin: 1.5em;
  }
  
  .logo:hover {
    background-image:url(LogoWordsBLU.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
  }
  
  .card {
    box-shadow:
    1px -1px 35px 6px rgba(30, 30, 60, 0.64);
  }