/* .title__section {

} */

.content__section {
    display:flex;
    justify-content: space-between; 
    background-color: #52616B;
    padding: 2em 1em;
}

.content__section h2 {
    font-family: "Montserrat";
}

.content__column {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border: 5px black solid;
    margin: 0 .5em;
    padding: .5em;
    background-color: #C9D6DF;
}

.content__column h2 {
    text-align: center;
}

/* 
.content__column__images {


} */

main {
    background-color: white;
}

.cityList a {
    background-color: #47C2B1;
    padding: 1em;
    box-shadow:
    1px -1px 35px 6px rgba(30, 30, 60, 0.64);
    border-radius:8px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

.cityList a:hover{
    background-color: #FF8576;
    box-shadow: none;
}

.cityList p {
    margin-bottom: 3em;
}

.landmarkList a {
    background-color: #47C2B1;
    padding: 1em;
    box-shadow:
    1px -1px 35px 6px rgba(30, 30, 60, 0.64);
    border-radius:8px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

.landmarkList a:hover{
    background-color: #FF8576;
    box-shadow: none;
}

.landmarkList p {
    margin-bottom: 3em;
}

.citizenList a {
    background-color: #47C2B1;
    padding: 1em;
    box-shadow:
    1px -1px 35px 6px rgba(30, 30, 60, 0.64);
    border-radius:8px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

.citizenList a:hover{
    background-color: #FF8576;
    box-shadow: none;
}

.citizenList p {
    margin-bottom: 3em;
}