/* .title__section {

} */

.content__section {
    display: flex;
    justify-content: space-between;     
}

.content__column {
    display: flex;
    flex-direction: column;
    border: 8px #30D5C8 solid;
    margin: 0 .5em;
    padding: .5em;
    color: #234F1E;
    background-color: whitesmoke;
}

.content__column h2 {
    text-align: center;
}

/* 
.content__column__images {


} */

body {
    background-color: #234F1E ;

}

.content__column {
    border
}